# Ignora arquivos do VSCode
.vscode/

# Ignora arquivos temporários do Windows
AppData/
Ambiente de Impressão/
Ambiente de Rede/
Cookies/
Recent/
SendTo/
Menu Iniciar/
Meus Documentos/
Modelos/
Documents/Minhas Imagens/
Documents/Minhas Músicas/
Documents/Meus Vídeos/

# Ignora arquivos de sistema
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Ignora histórico pessoal e configurações
.bash_history
.gitconfig
.lesshst
.viminfo
